<div class="layui-header">
    <div class="layui-logo">Luastar CMS 系统</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="javascript:;">控制台</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">{*username*}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">基本资料</a></dd>
                <dd><a href="/system/logout">退出系统</a></dd>
            </dl>
        </li>
    </ul>
</div>