<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    {* blocks.page_title *}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN COMMON PLUGIN STYLES -->
    <link href="/assets/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/custom/css/common.css" rel="stylesheet" type="text/css"/>
    <!-- END COMMON PLUGIN STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {* blocks.page_css *}
    <!-- END PAGE LEVEL PLUGINS -->
    <link rel="shortcut icon" href="favicon.ico" /> </head>
</head>
<!-- END HEAD -->

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部区域 -->
    {(layouts/header.html)}
    <!-- 左侧导航区域 -->
    {(layouts/sidebar.html)}
    <!-- 内容主体区域 -->
    <div class="layui-body">
        {* blocks.page_content *}
    </div>
    <!-- 底部固定区域 -->
    {(layouts/footer.html)}
</div>
<!-- BEGIN CORE PLUGINS -->
<script src="/assets/layui/layui.js" type="text/javascript"></script>
<script src="/assets/custom/js/index.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
{* blocks.page_js *}
<!-- END PAGE LEVEL SCRIPTS -->
</body>

</html>