<form id="form_user" class="layui-form layui-form-pane margin-15" action="">
    <input type="hidden" class="layui-input" name="id" value="{{user.id}}">
    <div class="layui-form-item">
        <label class="layui-form-label">登录名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="loginName" lay-verify="required" required="登录名必填"
                   placeholder="登录名" autocomplete="off" value="{{user.loginName}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="userName" lay-verify="required" required="用户名必填"
                   placeholder="用户名" autocomplete="off" value="{{user.userName}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            {%
            _.eachArray(roleList, function(i, role)
                local isChecked = 0
                _.eachArray(userRoleList, function(j, userRole)
                    if userRole.roleId == role.id then
                        isChecked = 1
                    end
                end)
            %}
                {% if isChecked == 1 then %}
                <input type="checkbox" name="roles" value="{{role.id}}" title="{{role.roleName}}" checked>
                {% else %}
                <input type="checkbox" name="roles" value="{{role.id}}" title="{{role.roleName}}">
                {% end %}
            {% end) %}
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="btn_save">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>