{-page_title-}
<title>用户管理</title>
{-page_title-}

{-page_content-}
<div class="layui-fluid">
    <!--用户查询-->
    <div class="layui-row margin-top-15">
        <div class="layui-col-md12">
            <div id="form_user_query" class="layui-form">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="username" placeholder="登录名或用户名" autocomplete="off">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit lay-filter="btn_query">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--用户操作-->
    <div class="layui-row margin-top-15">
        <div class="layui-col-md12">
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn_add">增加</button>
            </div>
        </div>
    </div>
    <!--用户列表-->
    <div class="layui-row">
        <div class="layui-col-md12">
            <table id="table_user" lay-filter="event_table_user"></table>
        </div>
    </div>
</div>
{-page_content-}

{-page_js-}
<script src="/assets/custom/js/system/user.js" type="text/javascript"></script>
{-page_js-}